<div style="display: flex; justify-content: center;">
	<div style="display: flex; flex-direction: column; padding: 2rem;  max-width: 800px;">
		<mat-card class="card">
			<mat-card-header>
				<img mat-card-avatar src="https://techlearn-cdn.s3.ap-south-1.amazonaws.com/full-stack-content/prakash.jpg"
					style="width: 150px; height: 150px;" />
				<mat-card-title>
					<h1>Jaykant Shikre</h1>
				</mat-card-title>
				<mat-card-subtitle>
					<h2>Angular Developer</h2>
				</mat-card-subtitle>
				<mat-card-subtitle>
					jshikre@alireali.com
				</mat-card-subtitle>
			</mat-card-header>
		</mat-card>

		<mat-card class="card">
			<mat-card-header>
				<mat-card-title>
					Skills
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-chip-list aria-label="Fish selection">
					<mat-chip color="accent" selected>C++</mat-chip>
					<mat-chip color="accent" selected>JavaScript</mat-chip>
					<mat-chip color="accent" selected>HTML</mat-chip>
					<mat-chip color="accent" selected>CSS</mat-chip>
					<mat-chip color="accent" selected>Angular</mat-chip>
					<mat-chip color="accent" selected>Material</mat-chip>
				</mat-chip-list>
			</mat-card-content>
		</mat-card>

		<mat-card class="card">
			<mat-card-header>
				<mat-card-title>
					About me
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>
					Voluptate minim nulla dolor velit nulla eu aute ea occaecat proident sit labore ad. Est labore consequat et
					reprehenderit mollit deserunt laborum sunt incididunt adipisicing. Nisi elit eiusmod commodo officia nostrud
					sit nostrud Lorem voluptate cupidatat nostrud. Ex velit cillum anim ea duis. Aliquip sunt elit officia aute
					non proident deserunt id.
				</p>
			</mat-card-content>
		</mat-card>

		<mat-card class="card">
			<mat-card-header>
				<mat-card-title>
					Experience
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-list>
					<!-- <mat-list-item *ngFor="let folder of null"> -->
					<mat-list-item>
						<mat-icon mat-list-icon>business</mat-icon>
						<div mat-line>Google</div>
						<div mat-line>2020 - 2021</div>
						<div mat-line>Cillum officia labore qui Lorem officia adipisicing eu mollit consectetur velit. Occaecat esse
							aliquip aliqua do elit. Non non deserunt qui pariatur reprehenderit nisi ea proident laboris incididunt
							voluptate pariatur.</div>
					</mat-list-item>
					<mat-list-item>
						<mat-icon mat-list-icon>business</mat-icon>
						<div mat-line>Microsoft</div>
						<div mat-line>2020 - 2021</div>
						<div mat-line>Cillum officia labore qui Lorem officia adipisicing eu mollit consectetur velit. Occaecat esse
							aliquip aliqua do elit. Non non deserunt qui pariatur reprehenderit nisi ea proident laboris incididunt
							voluptate pariatur.</div>
					</mat-list-item>
				</mat-list>
			</mat-card-content>
		</mat-card>

	</div>
</div>